@inject IStringLocalizer<Resource> Loc

<div class="row mt-2">
    <div class="col-12">
        <div class="row mt-3">
            <div class="col-12 px-0">
                <label class="text-center panel-azul alt">Exposição de Operações de Crédito Ativas</label>
            </div>
        </div>
    </div>


   
    <table class="">
        <thead class="panel ">
            <tr>
                <th class=""></th>
                <th class="descricao">IPOC da Operação</th>
                <th class="descricao">Registrada SICOR</th>
                <th class="descricao">SALDO Devedor Contábil</th>
                <th class="descricao">Analisado</th>
                <th class="descricao text-center">Risco</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exposicao in Opera)
            {
                <tr>
                    <td class=""><i class="fa-regular fa-pen-to-square" style="color: #16a232;"></i></td>
                    <td class="letter">@exposicao.Ipoc</td>
                    <td class="letter text-center">@exposicao.Sicor</td>
                    <td class="letter text-center">@exposicao.Valor.ToString("#,##0.00", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))</td>
                    <td class="letter text-center"> 
                        @if (exposicao.Analise == "positivo")
                        {
                            <img src="./assets/socio/Circulo.svg">
                        }
                        else if (exposicao.Analise == "negativo")
                        {
                            <img src="./assets/socio/X.svg">

                        }
                        else if (exposicao.Analise == "atencao")
                        {
                            <img src="./assets/socio/Alerta Laranja.svg">

                        }
                    </td>
                    <td class="letter text-center"> 
                        @if (exposicao.Risco == "positivo")
                        {
                            <img src="./assets/socio/folhavetor (2).svg">
                        }
                        else if (exposicao.Risco == "negativo")
                        {
                            <img src="./assets/socio/FolhaVermelha.svg">

                        }
                        else if (exposicao.Risco == "atencao")
                        {
                            <img src="./assets/socio/FolhaAmarela.svg">
                        }
                        else if (exposicao.Risco == "alerta")
                        {
                            <img src="./assets/socio/FolhaLaranja.svg">

                        }
                    </td>
                    <td class="ms-1"> <Botao SetClass="float-end " Icon="fa-solid fa-rotate" Text="Analisar"></Botao></td>
                </tr>
            }
        </tbody>
    </table>
</div>





<div class="row mt-2">
    <div class="col-12">
        <div class="row mt-5">
            <div class="col-12">
                <label class="text-center panel-azul alt ">Operações de TVM</label>
            </div>
        </div>
        <div class="row">
            <dic class="col-12 panel">

            </dic>
        </div>



        <table class="">
            <thead class="panel">
                <tr>
                    <th class=""></th>
                    <th class="descricao">Código na Câmara</th>
                    <th class="descricao">Sistema de Registro</th>
                    <th class="descricao">Valor do Título</th>
                    <th class="descricao">Tipo</th>
                    <th class="descricao text-center">Analisado</th>
                    <th class="descricao">Risco</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var operar in Tvm)
                {
                    <tr>
                        <td class=""><i class="fa-regular fa-pen-to-square" style="color: #16a232;"></i></td>
                        <td class="letter">@operar.Codigo</td>
                        <td class="letter">@operar.Registro</td>
                        <td class="letter">@operar.Titulo.ToString("#,##0.00", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))</td>
                        <td class="letter">@operar.Tipo</td>
                        <td class="letter">@operar.Analisado</td>
                        <td class="letter">@operar.Riscos</td>
                        <td class=""> <Botao SetClass="float-end " Icon="fa-solid fa-rotate" Text="Visualizar"></Botao></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <dic class="col-12 panel">

    </dic>
</div>



<div class="row mt-2">
    <div class="col-12">
        <div class="row mt-3">
            <div class="col-12">
                <label class=" text-center panel-azul alt">Exposição Acumulada a Contribuição Positiva Acumulada</label>
            </div>
        </div>

        <table class="">
            <thead class="panel">
                <tr>
                    <th class=""></th>
                    <th class="descricao">Situação de Enquadramento</th>
                    <th class="descricao text-center">Saldo Contábil Operações Crédito</th>
                    <th class="descricao text-center">Saldo TVM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exposicoes in Posit)
                {
                    <tr>
                        <td class=""><i class="fa-regular fa-pen-to-square" style="color: #16a232;"></i></td>
                        <td class="letter">@exposicoes.Situacoes</td>
                        <td class="letter text-center">@exposicoes.Saldo.ToString("#,##0.00", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))</td>
                        <td class="letter text-center">@exposicoes.Tvm.ToString("#,##0.00", System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
