@page "/registration"

<div class="ma-6 d-flex justify-center">
    <MudChip Color="Color.Primary">
        <h3>Registration Form</h3>
    </MudChip>
</div>
<div class="ma-6 d-flex  justify-center">
    <MudCard Width="500px">
        <MudForm Model="registrationModel" @ref="form" Validation="registrationValidator.ValidateValue">
            <MudCardContent>
                <MudTextField @bind-Value="registrationModel.FirstName"
                              For="@(() => registrationModel.FirstName)"
                              Immediate="true"
                              Label="First Name" />
                <MudTextField @bind-Value="registrationModel.LastName"
                              For="@(() => registrationModel.LastName)"
                              Immediate="true"
                              Label="Last Name" InputType="InputType.Email" />
                <MudTextField @bind-Value="registrationModel.Email"
                              For="@(() => registrationModel.Email)"
                              Immediate="true"
                              Label="Email" />
                <MudTextField @bind-Value="registrationModel.Password"
                              For="@(() => registrationModel.Password)"
                              Immediate="true"
                              Label="Password" InputType="InputType.Password" />
                <MudTextField @bind-Value="registrationModel.ConfirmPassword"
                              For="@(() => registrationModel.ConfirmPassword)"
                              Immediate="true"
                              Label="Confirm Password" InputType="InputType.Password" />
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="RegisterAsync">Register</MudButton>
                </MudCardActions>
            </MudCardContent>
        </MudForm>
    </MudCard>
</div>
